form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.avatar {
    position: relative;
    left: 20px;
    top: 2px;
}

.link {
    position: relative;
    color: black;
    left: -600px;
    top: -100px;
}

.centre {
  position: relative;
  font-family: arial;
  font-size: 24px;
  margin: 40px;
  right: -40px;
  width: 500px;
  height: 200px;
  outline: solid 4px black;
  /* Setup */
}

.header {
    color: gray;
    text-align: center;
}

.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.nothing {
    padding-left: 50px;
}
