{% extends "base.html" %}

{% block content %}
<div class="nothing">
    <h1 style="text-align: center;"> Оформление каюты </h1>
    <table align="center;" style="height: 15em; overflow: auto;" class="table table-dark table-bordered">
        <thead>
            <tr>
                <td> Цвет </td>
                <td> Эмблема </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background: {{ color }};">
                </td>
                <td>
                    <img src="{{ filename }}">
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}